$thoughtbot-red: #c52c2f
$thoughtbot-gray: #666

*
  box-sizing: border-box

body
  background: $thoughtbot-gray
  font-family: "calluna-sans", Helvetica
  color: white
  margin: 0
  transition: transform 1s

.dashboard_gif
  position: absolute
  top: 0
  z-index: -1

.wrapper
  margin-top: 3rem
  z-index: 1

.dashboard_heading
  text-align: center

.dashboard_name
  background: image-url('logo.svg') no-repeat 0 0
  bottom: 20px
  height: 36px
  left: 20px
  margin: 0
  overflow: hidden
  position: fixed
  text-indent: 100%
  white-space: nowrap
  width: 300px

.dashboard_tag
  font-size: 3rem
  font-weight: normal
  letter-spacing: 6px
  margin: 0
  text-transform: uppercase

.current_date
  font-weight: normal
  font-size: 3.5rem
  text-shadow: 0 5px 9px rgba($thoughtbot-gray, 0.9)

.standup_message
  background: white
  border-radius: 5px
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3)
  left: 50%
  margin: -120px auto auto -20%
  padding: 1rem 2rem
  position: absolute
  top: 58%
  width: 40%

.user_avatar
  border-radius: 100%
  border: 1px solid white
  height: 5em
  overflow: hidden
  width: 5em

.user_message
  color: #95a5a6
  font-size: 1.25em
  margin: 0

.user_name
  color: #2c3e50
  font-size: 2em
  margin: 0 0 0.25em

.media_body
  overflow: hidden

.media_visual
  float: left
  margin-right: 1em

  img
    display: block

.cf
  &:before
    content: ""
    display: table
  &:after
    content: ""
    display: table
    clear: both

.barts
  background: white
  border-radius: 5px
  box-shadow: 0 0px 6px rgba($thoughtbot-gray, 0.3)
  color: $thoughtbot-gray
  padding: 20px
  position: absolute
  left: 14%
  top: 40%
  width: 1020px

.barts_header
  float: left
  font-size: 22px
  margin: 0

.barts_list
  margin: 0
  padding: 0

.bart
  background: rgba(white, 1)
  border-radius: 5px
  box-shadow: 0 0px 6px rgba($thoughtbot-gray, 0.3)
  display: block
  float: right
  font-size: 18px
  margin-right: .75rem
  padding: 10px

.bart_destination,
.bart_departure
  text-align: left

.bart_destination
  font-weight: 700

.bart_departure
  color: $thoughtbot-red
  font-size: 1rem
  font-weight: 300
  padding: 0 0 0 4px

  &:after
    content: " min"
    display: inline
