body
  background: #252525
  transition: transform 1s
  font-family: Helvetica
  color: white

.dashboard_tag
  font-size: 1rem
  font-weight: normal

.standup_message
  margin: 2em 0

.user_avatar
  border-radius: 100%
  border: 1px solid white
  overflow: hidden
  height: 5em
  width: 5em
